@page
@model Gorepo.Pages.Order.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HWZWeChatOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HWZWeChatOrder.OrderId" class="control-label"></label>
                <input asp-for="HWZWeChatOrder.OrderId" class="form-control" />
                <span asp-validation-for="HWZWeChatOrder.OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HWZWeChatOrder.OrderAmount" class="control-label"></label>
                <input asp-for="HWZWeChatOrder.OrderAmount" class="form-control" />
                <span asp-validation-for="HWZWeChatOrder.OrderAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HWZWeChatOrder.OrderCode" class="control-label"></label>
                <input asp-for="HWZWeChatOrder.OrderCode" class="form-control" />
                <span asp-validation-for="HWZWeChatOrder.OrderCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HWZWeChatOrder.IsOrderPay" /> @Html.DisplayNameFor(model => model.HWZWeChatOrder.IsOrderPay)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="HWZWeChatOrder.CreateTime" class="control-label"></label>
                <input asp-for="HWZWeChatOrder.CreateTime" class="form-control" />
                <span asp-validation-for="HWZWeChatOrder.CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HWZWeChatOrder.UpdateTime" class="control-label"></label>
                <input asp-for="HWZWeChatOrder.UpdateTime" class="form-control" />
                <span asp-validation-for="HWZWeChatOrder.UpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
