@page
@model Gorepo.Pages.UdidModel
@{
}

<a href="/mobileconfig">Get Udid</a>
<br/>


@{
    PlistDictionary? plistDictionary = Model.PlistDictionary;
    if (plistDictionary != null)
    {
        for (int i = 0; i < plistDictionary.Keys.Length; i++)
        {
            <div>@($"{plistDictionary.Keys[i]}: {plistDictionary.Values[i]}")</div>
        }
    }

<br/>

    if (Model.PlistString != null)
    {
        string plist = System.Net.WebUtility.UrlEncode(Model.PlistString);
        <div><a href="hwz://?plist=@(plist)">Open App</a></div>
    }
}
